<ul class="navbar-nav ms-auto">
  {{ $main := index .Site.Menus "main" }}
  {{ range $main }}
    {{ if .HasChildren }}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{{ .URL }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ .Name }}
        </a>
        <ul class="dropdown-menu">
          {{ range .Children }}
            <li><a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
      </li>
    {{ else }}
      <li class="nav-item">
        <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
      </li>
    {{ end }}
  {{ end }}
</ul>
